.carousel {
    user-select: none;
    position: relative;
}

.carousel-angles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100vw - 30px);
    max-width: calc(100% + 7rem);
    z-index: 997;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.carousel-angle {
    pointer-events: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    &:hover {
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);

    }
    // cursor: pointer;
    // padding: 0;
    // width: 50px;
    // height: 50px;
    // background: rgba(0,0,0,0.05);
    // border-radius: 50%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // transition: background-color .3s ease;
    // &:hover:not(:active) {
    //     background-color: #333;
    //     svg path {
    //         fill: #fff !important;
    //     }
    // }
   
    // svg {
    //     width: 1rem;
    //     path {
    //         fill: #333 !important;
    //         transition: fill .3s ease;
    //     }
    // }
}

.swiper-button-disabled {
    opacity: 0 !important;
    pointer-events: none;
}

.swiper-pagination {
    z-index: 10;
    display: none;
    @include mq(768px) {
        display: block;
    }
    &-bullet {
        background-color: #fff !important;
        transition: opacity .3s ease;
        padding: 6px;
        &:hover {
            opacity: 0.5;
        }
    }
}